header.header 
    .header__column 
        a(href=routes.home)
            i.fas.fa-home
    .header__column
        if !loggedUser
            li 
                a(href=routes.join) Join 
            li 
                a(href=routes.login) Log In
        else
            li 
                a(href=routes.changeInfo) My account 
            li 
                a(href=routes.logout) Log Out